# 强大的pandas

# 1. pandas简介

In [2]:
#公认的pandas导包方式
import pandas as pd

# 2. pandas数据结构介绍

pandas有两个常用的数据结构：Series和DataFrame，他们为很多问题提供了解决模板

# 2.1 Series

Series是一种一维的数组型对象，它包含了一个值序列，并且包含了数据标签，称为索引，最简单的序列可以仅仅由一个数组形成

In [4]:
obj = pd.Series([4,7,-5,3])
print(obj)#输出的数据中左边为索引，右边为数据
obj1 = pd.Series([4,7,-5,3], index=['a', 'b', 'c', 'd'])#指定索引
print(obj1)

0    4
1    7
2   -5
3    3
dtype: int64
a    4
b    7
c   -5
d    3
dtype: int64

在Series中你可以使用索引进行取值

In [8]:
print(obj[1])
print(obj1['a'])
print(obj1[['a', 'b','d']])

7
4
a    4
b    7
d    3
dtype: int64

在Series中也可以进行数学操作

In [9]:
import numpy as np
print(obj1[obj1>0])
print(obj1*2)
print(np.exp(obj1))

a    4
b    7
d    3
dtype: int64
a     8
b    14
c   -10
d     6
dtype: int64
a      54.598150
b    1096.633158
c       0.006738
d      20.085537
dtype: float64

如果你已经有数据包含在python的字典中，可以使用字典直接生成Series：

In [10]:
sdata = {'Ohio':35000, 'Texas':71000, 'Oregon':16000, 'Utah':5000}
obj2 = pd.Series(sdata)
print(obj2)

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

# 2.2 DataFrame

DataFrame表示的是矩阵的数组表，它包含以排序的列集合，每一列可以是不同的值类型(数组/字符串/布尔值等)，它可以被视为一个共享相同索引的Series的字典。

有多种方式可以构建DataFrame，其中最常用的方式是利用包含等长度列表或Numpy数组的字典来形成DataFrame。

In [3]:
data={'state':['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
     'year':[2000,2001,2002,2001,2002,2003],
     'pop':[1.5,1.7,3.6,2.4,2.9,3.2]}
frame = pd.DataFrame(data)
print(frame)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [4]:
print(frame.head())#展示数据的前五列

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [6]:
#指定列的顺序
print(pd.DataFrame(data, columns=['year', 'state', 'pop']))

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2