In [1]:
%matplotlib inline

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=range(6), columns=list('ABCD'))
df

          A         B         C         D
0  0.551186 -1.069023 -1.607758  0.560195
1  0.091608  0.951908 -0.439382 -0.442588
2  0.297956 -0.194177  1.171773  1.859732
3 -0.553572  1.261971 -2.304773  1.173981
4  0.215731 -0.718136  0.281183 -1.575456
5 -0.226384 -0.860336 -0.089046 -1.438389

In [8]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3]*4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [10]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [11]:
df.head()

          A         B         C         D
0  0.551186 -1.069023 -1.607758  0.560195
1  0.091608  0.951908 -0.439382 -0.442588
2  0.297956 -0.194177  1.171773  1.859732
3 -0.553572  1.261971 -2.304773  1.173981
4  0.215731 -0.718136  0.281183 -1.575456

In [12]:
df.tail()

          A         B         C         D
1  0.091608  0.951908 -0.439382 -0.442588
2  0.297956 -0.194177  1.171773  1.859732
3 -0.553572  1.261971 -2.304773  1.173981
4  0.215731 -0.718136  0.281183 -1.575456
5 -0.226384 -0.860336 -0.089046 -1.438389

In [13]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [14]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.062754 -0.104632 -0.498000  0.022913
std    0.395368  0.986856  1.269798  1.406727
min   -0.553572 -1.069023 -2.304773 -1.575456
25%   -0.146886 -0.824786 -1.315664 -1.189439
50%    0.153670 -0.456157 -0.264214  0.058803
75%    0.277400  0.665387  0.188626  1.020534
max    0.551186  1.261971  1.171773  1.859732

In [16]:
df.describe().T

   count      mean       std       min       25%       50%       75%       max
A    6.0  0.062754  0.395368 -0.553572 -0.146886  0.153670  0.277400  0.551186
B    6.0 -0.104632  0.986856 -1.069023 -0.824786 -0.456157  0.665387  1.261971
C    6.0 -0.498000  1.269798 -2.304773 -1.315664 -0.264214  0.188626  1.171773
D    6.0  0.022913  1.406727 -1.575456 -1.189439  0.058803  1.020534  1.859732